* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 8306px;
  overflow: overlay;
}

.cursor {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  display: none;
  mix-blend-mode: difference;
}

.mouse {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.07s linear;
}

.pause .mouse:nth-child(6) {
  animation: load 1.5s ease-in-out infinite;
}
.pause .mouse:nth-child(7) {
  animation: load1 1s ease-in-out infinite;
}
.pause .mouse:nth-child(8) {
  animation: load2 2s ease-in-out infinite;
}
.pause .mouse:nth-child(9) {
  animation: load3 1s ease-in-out infinite;
}
.pause .mouse:nth-child(10) {
  animation: load4 1.5s ease-in-out infinite;
}
.pause .mouse:nth-child(11) {
  animation: load5 2s ease-in-out infinite;
}
.pause .mouse:nth-child(12) {
  animation: load6 1s ease-in-out infinite;
}

@keyframes load {
  0% {
    top: 0px;
    left: 0px;
  }
  20% {
    top: 5px;
    left: 0px;
  }
  40% {
    top: 5px;
    left: 5px;
  }
  60% {
    top: -5px;
    left: 5px;
  }
  80% {
    top: -5px;
    left: -5px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@keyframes load1 {
  0% {
    top: 0px;
    left: 0px;
  }
  20% {
    top: -5px;
    left: 0px;
  }
  40% {
    top: -5px;
    left: -5px;
  }
  60% {
    top: 5px;
    left: -5px;
  }
  80% {
    top: 5px;
    left: 5px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@keyframes load2 {
  0% {
    top: 0px;
    left: 0px;
  }
  20% {
    top: 0px;
    left: 5px;
  }
  40% {
    top: -5px;
    left: -5px;
  }
  60% {
    top: -5px;
    left: 5px;
  }
  80% {
    top: 5px;
    left: 5px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@keyframes load3 {
  0% {
    top: 0px;
    left: 0px;
  }
  20% {
    top: 0px;
    left: -7px;
  }
  40% {
    top: 7px;
    left: 7px;
  }
  60% {
    top: 7px;
    left: -7px;
  }
  80% {
    top: -7px;
    left: -7px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@keyframes load4 {
  0% {
    top: 0px;
    left: 0px;
  }
  20% {
    top: -9px;
    left: 0px;
  }
  40% {
    top: 9px;
    left: 9px;
  }
  60% {
    top: -9px;
    left: 9px;
  }
  80% {
    top: 9px;
    left: 9px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@keyframes load5 {
  0% {
    top: 0px;
    left: 0px;
  }
  20% {
    top: 11px;
    left: 0px;
  }
  40% {
    top: -11px;
    left: -11px;
  }
  60% {
    top: 11px;
    left: -11px;
  }
  80% {
    top: -11px;
    left: -11px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@keyframes load5 {
  0% {
    top: 0px;
    left: 0px;
  }
  20% {
    top: 0px;
    left: 11px;
  }
  40% {
    top: -11px;
    left: -11px;
  }
  60% {
    top: -11px;
    left: 11px;
  }
  80% {
    top: -11px;
    left: -11px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
.load {
  position: fixed;
  width: calc(100vw - 3rem);
  height: 30px;
  top: 50%;
  left: 1rem;
  background-color: black;
  z-index: 30;
  mix-blend-mode: difference;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s;
}
.load__list {
  display: flex;
  flex-direction: row;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}
.load__list li {
  margin: 0 5px;
}
.load__list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.load__list li a i {
  font-size: 30px;
  color: #fff;
}
.load img {
  width: 30px;
  height: 30px;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 21;
  transition: all 0.7s;
}
.overlay__loading {
  font-size: 30px;
  position: absolute;
  color: #fff;
  top: calc(50% - 2px);
  left: 3.5rem;
  transition: all 0.5s;
  visibility: visible;
  opacity: 1;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}
.container section {
  border-radius: 0 50px 50px 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 112rem;
  transition: all 0.25s linear;
  box-shadow: 0 0 10px 5px #3e3737;
}
.container section:nth-child(1) {
  background-color: black;
  z-index: 20;
}
.container section:nth-child(2) {
  z-index: 19;
  background-color: red;
  padding-left: 37.5rem;
}
.container section:nth-child(3) {
  z-index: 18;
  background-color: green;
  padding-left: 7.5rem;
}
.container section:nth-child(4) {
  z-index: 17;
  background-color: blue;
  padding-left: 25rem;
  width: 125rem;
}
.container section:nth-child(5) {
  z-index: 16;
  background-color: orange;
}

.landing__text {
  position: absolute;
  top: 40%;
  left: 20%;
  color: #fff;
}
.landing__text b {
  transform: translateY(10px);
  opacity: 0;
  visibility: hidden;
  animation: loadTextLD 0.3s 5s forwards;
}

@keyframes loadTextLD {
  0% {
    color: #fff;
  }
  100% {
    color: red;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}

::-webkit-scrollbar-track {
  background: transparent;
}

/*# sourceMappingURL=style.css.map */
